<p>Provides simple tasks to access and manage your kdbx file.</p>
For multiple tasks it is recommended to use the open command to cache the database in the context flow.
Otherwise the database will be opened before and closed after the task which will always take some seconds.

<h3>Inputs</h3>
<dl class="message-properties">
  <dt>Name <span class="property-type">string</span> </dt>
  <dd>
    Set a custom name to this node.
  </dd>
  <dt>Database <span class="property-type">config node</span> </dt>
  <dd> 
    Create a config node with the information where the file, keyfile are stored and what the password is.
  </dd>
  <dt>Task <span class="property-type">enum</span> </dt>
  <dd> 
    Select the task you wish to perform. Based on that, you get new parameters to fill out.
  </dd>
  <dt>Task parameters <span class="property-type">string</span> </dt>
  <dd> 
    <p>
      <b>group:</b> Enter the group uuid or a path where the hierarchy is separated by "/" (for example: group/subgroup).
      If "/" or empty the root group will be selected. Therefore you don't need a preceding "/".
    </p>
    <p><b>entry:</b> Enter the uuid of the entry (no group uuid or path necessary) or enter the entry title together with the group path or group uuid.</p>
    <p><b>username, password, url, notes:</b> Set those elements if you want to create a new entry.</p>
    <p><b>newGroup</b>: For moving an existing entry, enter the group uuid or path.</p>
    <p><b>newEntryTitle, newUsername, newPassword, newUrl, newNotes: </b> For changing existing entry elements.</p>
    <p><b>saveDb:</b> If the node task changes the database you can choose to save directly after processing or to a later moment.</p>
    <p>
        Attention: saveDb only affects tasks which will change the database (no get/list/open database) or if closing the db.
        Deactivate it within a flow will reduce the time if a flow needs to make severall changes.
    </p>
  </dd>
  <dt class="optional">payload <span class="property-type">Object</span></dt>
  <dd>
    <p>The payload can manage all data, which can be accessed for the task by the node.</p>
    <p>For the file data use a msg.kdbx object with the keys: file, keyFile and password.</p>
    <p>All other data can be insert by a msg.payload object with the keys:  entry, username, password, url, group, notes, newGroup, newEntryTitle, newUsername, newPassword, newUrl, newNotes, saveDb.
    <p>Note that only for the task necessary options will be considered.
  </dd>
</dl>
  
<h3>Outputs</h3>
<ol class="node-ports">
  <li>Standard output
    <dl class="message-properties">
      <dt>payload <span class="property-type">Object</span></dt>
      <dd>
        <div>For get/list/create/update Task it will return an Object (normaly the entry) or an Array of Objects.</div>
        <div>For open/close/delete tasks it will return an status info.</div>
      </dd>
    </dl>
  </li>
</ol>
