<script context='module'>
  RED.nodes.registerType('kdbx', {
		category: 'storage',
    defaults: {
      nodeName: { value: '', label: 'Name' },
      dynamicFile: { value: false, label: 'Dynamic file' },
      filePath: { value: 'payload.path', label: 'Filepath' },
      keyFilePath: { value: 'payload.keyPath', label: 'Key filepath' },
      task: { value: '', label: 'Task', required: true },
      kdbxFile: {type: 'kdbxFile', label: 'Database', validate: function (v) {
        if (this.dynamicFile) return true
        return v
      }},
      filePassword: { value: 'payload.password', label: 'Password' },
      group: { value: '', label: 'Group path / uuid' },
      entry: { value: '', label: 'Entry title / uuid' },
      username: { value: '', label: 'Username' },
      password: { value: '', label: 'Password' },
      url: { value: '', label: 'Url' },
      notes: { value: '', label: 'Notes' },
      newGroup: { value: '', label: 'New group name' },
      newEntryTitle: { value: '', label: 'New entry title' },
      newUsername: { value: '', label: 'New username' },
      newPassword: { value: '', label: 'New password' },
      newUrl: { value: '', label: 'New Url' },
      newNotes: { value: '', label: 'New notes' },
      saveDb: { value: true, label: 'Save database' },
      updateParameters: { value: {} },
      parameterInputType: { value: {} },
      deleteKeyFile: { value: true, label: 'Delete key file' },
      setKdbx4: { value: true, label: 'Set to Kdbx4' },
      errorHandling: { value: 'throw error', label: 'Error handling' },
      debugMode: { value: false, label: 'Debug mode' },
      _version: { value: '' },
      outputs: { value: 1 }
    },
    // credentials: { // not saving as credentials as this is usually only for testing purposes -> added warning
    //   password: { type: 'password', value: '', label: 'Password' },
    //   filePassword: { value: 'payload.password', label: 'Password' },
    // },
		inputs: 1,
		outputs: 1,
		color: '#3e9c00',
    icon: 'db.png',

    label: function() {
      if (this.nodeName) return this.nodeName
      else return this.task ||'kdbx';
    },
		oneditprepare: function () {
			render(this)
		},
		oneditsave: function () {
      // clear unused properties
      const clone = this.__clone

      // rmv active update parameters
      if (clone.task !== 'updateEntry') {
        clone.updateParameters = {}
        ;['newGroup', 'newEntryTitle', 'newUsername', 'newPassword', 'newUrl', 'newNotes'].forEach(param => clone[param] = '')
      }
      
      // clear sensible input fields if task does not need them anymore
      if (clone.task !== 'createEntry') {
        ;['notes', 'url', 'username'].forEach(param => clone[param] = '')
        if (clone.task !== 'updateDb') {
          clone.password = ''
        }
      }

      // save only typedInputs which are in use
      // const addToKeepTypes = (param) => inputsInUse[param] = clone.parameterInputType[param]
      const paramsInUse = new Set()
      if (clone.dynamicFile) {
        ;['filePath', 'keyFilePath', 'filePassword'].forEach(param => paramsInUse.add(param))
      }
      switch (clone.task) {
        case 'createDb':
        case 'openDb':
        case 'closeDb':
        case 'deleteDb':
          break
        case 'updateDb':
          paramsInUse.add('password')
          break
        case 'getGroup':
        case 'createGroup':
        case 'deleteGroup':
        case 'listEntries':
          paramsInUse.add('group')
          break
        case 'updateGroup':
          paramsInUse.add('group')
          paramsInUse.add('newGroup')
          break
        case 'createEntry':
          ;['entry', 'group', 'notes', 'password', 'url', 'username'].forEach(param => paramsInUse.add(param))
          break
        case 'getEntry':
        case 'deleteEntry':
          paramsInUse.add('group')
          paramsInUse.add('entry')
          break
        case 'updateEntry':
          ;['entry', 'group', 'newGroup', 'newEntryTitle', 'newUsername', 'newPassword', 'newUrl', 'newNotes'].forEach(param => paramsInUse.add(param))
          break
      }

      const keepTypedInput = {}
      paramsInUse.forEach(param => {
        if (clone.parameterInputType[param]) {
          keepTypedInput[param] = clone.parameterInputType[param]
        }
      })
      clone.parameterInputType = keepTypedInput
			update(this)
      this.outputs = (this.errorHandling === 'other output' ) ? 2 : 1
		},
		oneditcancel: function () {
			revert(this)
		},
    onadd: function () { 
      addCurrentNodeVersion(this) 
    }
	})
</script>

<script>
  // get your node variable from extern and import the needed components from SIR
  export let node
  import { Callout, Input, Row, Select } from 'svelte-integration-red/components'
  import KdbxTypedInput from './components/KdbxTypedInput.svelte'

  const oldTask = node.task

  const handleTaskChanged = () => {
    savableTask = ['closeDb' , 'updateDb' , 'createGroup' , 'updateGroup' , 'deleteGroup' , 'createEntry' , 'updateEntry' , 'deleteEntry'].includes(node.task)

    // if none is selected, it is selected for the first time (or deselected all last time...) -> activate all
    if (node.task === 'updateEntry' && !Object.keys(node.updateParameters).length) {
      ['entry', 'group', 'newGroup', 'newEntryTitle', 'newUsername', 'newPassword', 'newUrl', 'newNotes'].forEach(param => node.updateParameters[param] = true)
    }
  }
  
  let savableTask = false
  handleTaskChanged()

  if (!node.setKdbx4) {
    node.setKdbx4 = false
  }
</script>

<style>
  :global(#kdbx-svelte-container label) {
    min-width: 150px;
  }
  :global(#kdbx-svelte-container .setParameterChkbox) {
    width: 20px;
  }
</style>

<Input bind:node prop="nodeName" />
<Select bind:node prop="errorHandling">
  <option value="throw error" selected={node.errorHandling === "throw error"}>throw error</option>
  <option value="other output" selected={node.errorHandling === "other output"}>other output</option>
</Select>
<Input bind:node prop="debugMode" labelBeforeCheckbox tooltip={'Log errors on server terminal.\n\nIf error handling is "throw error" and won\'t be catched by a "catch node" the server will still get a log.'}/>

<hr>

<Input {node} prop="dynamicFile" labelBeforeCheckbox type="checkbox"
  on:click={() => {
    node.dynamicFile = !node.dynamicFile
    if (node.dynamicFile) {
      node.kdbxFile = ''
      if (!node.filePath && !node.keyFilePath && !node.filePassword) {
        node.filePath = 'payload.path'
        node.keyFilePath = 'payload.keyPath'
        node.filePassword = 'payload.password'
      }
      
    }
  }}
/>
{#if node.dynamicFile}
  <KdbxTypedInput bind:node prop="filePath" types="file"/>
  <KdbxTypedInput bind:node prop="keyFilePath" types="file" />
  <KdbxTypedInput bind:node prop="filePassword" types="file" />
{:else}
  <Input type='config' {node} prop="kdbxFile"/>
{/if}

<hr>

<Select bind:node prop="task" on:change={handleTaskChanged} >
  <option value=""></option>
  <option value="" disabled>*** Database options ***</option>
  <option value="createDb">Create database</option>
  <option value="openDb">Open database</option>
  <option value="closeDb">Close database</option>
  <option value="updateDb">Change database password</option>
  <option value="deleteDb">Delete database / keyfile</option>
  <option value="" disabled>*** Group options ***</option>
  <option value="createGroup">Create group</option>
  <option value="getGroup">Get group</option>
  <option value="updateGroup">Change group name</option>
  <option value="deleteGroup">Delete group</option>
  <option value="listEntries">List all entries in Group</option>
  <option value="" disabled>*** Entry options ***</option>
  <option value="createEntry">Create entry</option>
  <option value="getEntry">Get entry</option>
  <option value="updateEntry">Update entry</option>
  <option value="deleteEntry">Delete entry</option>
</Select>

{#if (oldTask === 'createEntry' && node.task !== 'createEntry') || (oldTask === 'updateEntry' && node.task !== 'updateEntry')} 
  <Callout type="warning" size="small">All inputs which are not needed anymore will be deleted on save. (e.g. "username", "password")</Callout>
{/if}

{#if node.task === "createDb"}
  <Input type="checkbox" bind:node prop="setKdbx4" labelBeforeCheckbox />
<!-- {:else if node.task === "openDb"} -->
  <!-- empty -->
<!-- {:else if node.task === "closeDb"} -->
  <!-- empty -->
{:else if node.task === "updateDb"}
  <KdbxTypedInput bind:node prop="password" />
{:else if node.task === "deleteDb"}
  <Input type="checkbox" bind:node prop="deleteKeyFile" />
{:else if node.task === "getGroup"}
  <KdbxTypedInput bind:node prop="group" />
{:else if node.task === "createGroup"}
  <KdbxTypedInput bind:node prop="group" />
{:else if node.task === "updateGroup"}
  <KdbxTypedInput bind:node prop="group" />
  <KdbxTypedInput bind:node prop="newGroup" />
{:else if node.task === "deleteGroup"}
  <KdbxTypedInput bind:node prop="group" />
{:else if node.task === "listEntries"}
  <KdbxTypedInput bind:node prop="group" />
{:else if node.task === "createEntry"}
  <KdbxTypedInput bind:node prop="group" />
  <KdbxTypedInput bind:node prop="entry" />
  <KdbxTypedInput bind:node prop="username" />
  <KdbxTypedInput bind:node prop="password" />
  <KdbxTypedInput bind:node prop="url" />
  <KdbxTypedInput bind:node prop="notes" />
{:else if node.task === "getEntry"}
  <KdbxTypedInput bind:node prop="group" />
  <KdbxTypedInput bind:node prop="entry" />
{:else if node.task === "updateEntry"}
  <KdbxTypedInput bind:node prop="group" />
  <KdbxTypedInput bind:node prop="entry" />
  <hr>
  <h3>Check the fields you want to change.</h3>
  <Row>
    <Input type="checkbox" bind:value={node.updateParameters.newGroup} clazz="setParameterChkbox" />
    <KdbxTypedInput bind:node prop="newGroup"/>
  </Row>
  <Row>
    <Input type="checkbox" bind:value={node.updateParameters.newEntryTitle} clazz="setParameterChkbox" />
    <KdbxTypedInput bind:node prop="newEntryTitle" />
  </Row>
  <Row>
    <Input type="checkbox" bind:value={node.updateParameters.newUsername} clazz="setParameterChkbox" />
    <KdbxTypedInput bind:node prop="newUsername" />
  </Row>
  <Row>
    <Input type="checkbox" bind:value={node.updateParameters.newPassword} clazz="setParameterChkbox" />
    <KdbxTypedInput bind:node prop="newPassword" />
  </Row>
  <Row>
    <Input type="checkbox" bind:value={node.updateParameters.newUrl} clazz="setParameterChkbox" />
    <KdbxTypedInput bind:node prop="newUrl" />
  </Row>
  <Row>
    <Input type="checkbox" bind:value={node.updateParameters.newNotes} clazz="setParameterChkbox" />
    <KdbxTypedInput bind:node prop="newNotes" />
  </Row>
{:else if node.task === "deleteEntry"}
  <KdbxTypedInput bind:node prop="group" />
  <KdbxTypedInput bind:node prop="entry" />
{/if}

{#if savableTask}
  <Input type="checkbox" bind:node prop="saveDb" labelBeforeCheckbox />
{/if}