<h3> kdbx file properties</h3>
Set the kdbx credentials in this node or put them dynamically into msg.kdbx as object with the keys: file, keyFile and password.

<dl class="message-properties">
    <dt>Name <span class="property-type">string</span></dt>
  <dd> 
    Set a custom name to this config.
  </dd>

  <dt>File path<span class="property-type">string</span></dt>
  <dd> 
    Enter the path, where your .kdbx file is stored ( for example "C:\myFolder\myFile.kdbx")
  </dd>
  <dt>Keyfile path<span class="property-type">string</span></dt>
  <dd> 
    Enter the path, where your optional keyfile is stored
  </dd>
  <dt>Password<span class="property-type">string</span></dt>
  <dd> 
    Enter your password for your .kdbx file
  </dd>
</dd>