<script context="module">
  RED.nodes.registerType('kdbxFile',{
    category: 'config',
    defaults: {
      name:     { value: "" },
      filePath: { value: ""},
      keyFilePath: { value: ""},
      typedInputPassword: { value: "", label: 'Password' },
      typedInputPasswordType: { value: 'msg' },
      _version: { value: "" }
    },
    credentials: {
      password: { type: "password", value: "" },
      filePath: { type: "text", value: "" }, // legacy, will be removed within the next version -> moving to non credential property
      keyFilePath: { type: "text", value: "" } // legacy, will be removed within the next version -> moving to non credential property
    },
    label: function() {
      return this.name || this.filePath || 'Unknown kdbx config';
    },
    oneditprepare: function () {
      // moved filepathes to non credentials -> using SIR update would be to complex, therefor keep old cred properties the next version(s) and then remove them.
      if (this.credentials.filePath || this.credentials.keyFilePath) {
        this.filePath = this.credentials.filePath
        this.keyFilePath = this.credentials.keyFilePath
        this.credentials.filePath = ''
        this.credentials.keyFilePath = ''
      }
      render(this)
    },
    oneditsave: function () { 
      update(this)
    }, 
    oneditcancel: function () {
      revert(this)
    },
    onadd: function () { 
      addCurrentNodeVersion(this)
    }
  });
</script>

<script>
  // get your node variable from extern and import the needed components from SIR
  export let node
  import { Input, TypedInput } from 'svelte-integration-red/components'

  let useCredPw = !node.typedInputPassword
  const changePwInput = () => {
    useCredPw = !useCredPw
    if (useCredPw) {
      node.typedInputPassword = ''
    } else {
      node.password = ''
    }
  }
</script>

<style></style>

<Input bind:node prop="name" />
<Input bind:node prop="filePath" />
<Input bind:node prop="keyFilePath" />

<Input value={useCredPw} type="checkbox" label="Static password" labelBeforeCheckbox on:click={changePwInput} />

{#if useCredPw}
  <Input bind:node prop="password" />
{:else}
  <TypedInput bind:node prop="typedInputPassword" typeProp="typedInputPasswordType" types={["msg", "env"]} />
{/if}
