<script>
  import { TypedInput } from 'svelte-integration-red/components'

  export let node, prop, label, types = 'default'

  let inputTypes = ['str', 'jsonata', 'msg', 'flow', 'global', 'env']
  if (types === 'file') {
    inputTypes = ['msg', 'flow', 'global']
    if (prop !== 'filePath') {
      inputTypes.push({ value: "no input", hasValue: false })
    }
  }
  node.parameterInputType[prop] = node.parameterInputType[prop] || inputTypes[0]

  let tooltip = ''
  $: {
    if ((prop === 'password' || prop === 'filePassword' || prop === 'newPassword') && node.parameterInputType[prop] === 'str') {
      tooltip = 'Warning: The password will not be saved as credential.\n\nUse the string type only for testing purpose or one time use and delete manually afterwards.'
    } else {
      tooltip = ''
    }
  }
</script>

<!-- on:change={(e) => saveTypedInput(e.detail)} -->
<TypedInput bind:value={node[prop]} bind:type={node.parameterInputType[prop]} types={inputTypes}
  label={label || node._def.defaults[prop]?.label} 
  disabled={node.task === 'updateEntry' && !node.updateParameters[prop]}
  {tooltip} tooltipOptions={{ icon: 'warning' }}
/>
